NEXT_PUBLIC_REOWN_PROJECT_ID=
NEXT_PUBLIC_ARBITRUM_USDC_VAULT_ADDRESS=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_USDC_TOKEN_ADDRESS=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_USDC_VAULT_ADDRESS=
NEXT_PUBLIC_AAVE_USDC_SEPOLIA_STRATEGY_ADDRESS=
NEXT_PUBLIC_ARBITRUM_SEPOLIA_AAVE_POOL_ADDRESS=0x794a61358D6845594F94dc1DB02A252b5b4814aD
NEXT_PUBLIC_ROBINHOOD_USDC_TOKEN_ADDRESS=
NEXT_PUBLIC_ROBINHOOD_USDC_VAULT_ADDRESS=
DATABASE_URL=
POLYGON_API_KEY=
STOCK_MARKET_DATA_PROVIDER=auto
NEXT_PUBLIC_SUBGRAPH_ENDPOINT=
